

.main-jumbotron {
  /* background-image: url('https://discord.mx/QpwAeOeqkg.png'); */
  min-height: 100vh;
  /* position: relative; */
  /* background-attachment: fixed; */
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-repeat:repeat; */
    /* background-position:0 0; */
    /* background-attachment:fixed; */
    background:url("https://discord.mx/zQEwLOnKFi.jpg");
    background-repeat:repeat;
    /* background-position:0 0; */
    background-attachment:fixed;
    background-color:#222222;
    animation:animatedBackground 50s linear infinite;
    animation-direction:alternate
}
@keyframes animatedBackground{
  from{
      background-position:0 0
  }
  to{
      background-position:100% 0
  }
}
.infoslide {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #000;
}
.socials {
  margin-top: 3rem;
}
.icn {
  color: white;
  text-decoration: none;
  text-shadow: 0 5px 5px #000;
  font-size: 2rem;
  padding: 1rem;
}
.icn:hover {
  text-shadow: 0 2px 2px #000;
}
.more {
  margin: 3rem;
  color:white;
}
.title-text {
  color: white;
  text-shadow: 0 5px 5px #000;
}
.pfp {
  height: 17rem;
  border-radius: 100%;
  border: 10px solid rgb(41, 41, 41);
}
.main-subtitle {
  color: rgb(223, 223, 223);
  text-shadow: 0 5px 5px #000;
  font-size: 2rem;
}
.about-me {
  padding-top: 3rem;
  width: 100%;
  background-color: rgb(45, 45, 45);
  padding-bottom: 2rem;
}
.bio {
  font-size: 1rem;
  font-weight: 500;
}
.bg-customdark {
  background-color: rgb(39, 39, 39);
}
.title {
  color: white;
  padding-top: 2rem;
}
.subtitle {
  color: rgb(94, 93, 93);
  margin-top: -2rem;
  font-weight: 500;
  font-size: 2rem;
}
.card {
  margin: 2rem;
}
.stalk {
  background-color: rgb(29, 29, 29);
  min-height: 35rem;
}
.btn-spotify {
  background-color: #1DB954;
}
.terminal {
  background-color: #000;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(54, 54, 54);
  padding: 0.5cm;
}


.bounce {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);      
  }
}
.serv1 {

  /* padding: 30px;
  padding-top: 10px; */
  margin: 26px 26px 26px 26px;
  border-radius: 10px;
  box-shadow:0px 0px 25px #b428df;
  transition: all .8s;
}
.serv1:hover {
  transform: scale(1.03);

}
.serv2 {

  /* padding: 30px;
  padding-top: 10px; */
  margin: 26px 26px 26px 26px;
  border-radius: 10px;
  box-shadow:0px 0px 25px #b428df;
  transition: all .8s;
}
.serv2:hover {
  transform: scale(1.03);
  
}
#services{
  position: relative;
}
.services-content{
  height: auto;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding:2.5%;
}
.service{
  height:430px;
  width:38%;
  margin: 1.5%;
  background-color: #191919;
  ;
  display: inline-block;
  box-shadow:0px 0px 25px #2843df;
  position: relative;
  text-align: center;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
  animation: opacity 1.4s ease ;
  transition: all .8s;
}

.service-img{
  text-align: center;
}

.service-img img{
  display: inline-block;
  z-index: 2;
  position: relative;
  margin: 20px;
  border-radius: 30%;
  padding: 10px;
  border: 0px solid #273c67;
  background: #273c67;
  box-shadow:0px 0px 0px 0px #273c67 ;
  height:100px;
  transition: all .8s ease;
}
.service:hover {
  transform: scale(1.05);

}
.service:hover .service-img img{
  box-shadow:0px 0px 0px 430px #273c67 ;
}
.service-description{
  color:whitesmoke;
  position: relative;
  display: inline-block;
  z-index:2;
}
.service-description h2{
  padding: 10px;
  margin: 5px;
  font-weight: 200;
  font-size: 25px;
}
.service-description p{
  padding: 10px;
  font-weight: 200;
  font-size: 16px;
  opacity: .8;
}

.social-media{
  color: white;
  width:  73px;
  ;
  opacity: 1;
  margin: 0px;
  transition: all .4s ease;
}
.social-media:hover{
  opacity: 1;
  transform: scale(1.1);
}
.about-main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: row;
}
.about-img img{
  width: 100%;
  height:380px;
  padding: 30px;
  padding-top: 10px;
  border-radius: 40px;
}
#services2{
  position: relative;
}
.services2-content{
  height: auto;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding:2.5%;
}
.service2{
  height:420px;
  width:38%;
  margin: 1.5%;
  background-color: #191919;
  ;
  display: inline-block;
  box-shadow:0px 0px 25px #2843df;
  position: relative;
  text-align: center;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
  animation: opacity 1.4s ease ;
}
.service2-img{
  text-align: center;
}

.service2-img img{
  display: inline-block;
  z-index: 2;
  position: relative;
  margin: 20px;
  border-radius: 30%;
  padding: 10px;
  border: 0px solid #6e98eb;
  background: #6e98eb;
  box-shadow:0px 0px 0px 0px #6e98eb ;
  height:100px;
  transition: all .8s ease;
}
.service2:hover .service2-img img{
  box-shadow:0px 0px 0px 400px #6e98eb ;
}
.service2-description{
  color:whitesmoke;
  position: relative;
  display: inline-block;
  z-index:2;
}
.service2-description h2{
  padding: 10px;
  margin: 5px;
  font-weight: 200;
  font-size: 25px;
}
.service2-description p{
  padding: 10px;
  font-weight: 200;
  font-size: 16px;
  opacity: .8;
}
